* {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
* {background-color: rgb(234, 242, 245);}
* {color:#025975}
* {margin: 20px 15px}

hr{
    margin: 0px;
}

.botonesTipo1 {
    color: #025975;
    background: transparent;
    border: 2px solid #025975;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.botonesTipo1 {
      background-color: rgb(234, 242, 245); 
      color: #025975; 
      border: 2px solid #008CBA;
}

.botonesTipo1:hover {
    background-color: #008CBA;
    color: white;
}



input{
    color: #025975;
    background: white;
    margin: 10px 20px;
    padding: 2px 12px;
    font-size: 16px;
    border: 2px solid #008CBA;
    border-radius: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


select{
    color: #025975;
    background: white;
    margin: 10px 20px;
    padding: 0px 12px;
    font-size: 16px;
    border: 2px solid #008CBA;
    border-radius: 8px;

}